<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <%= JSON.stringify(user) %>
    <%= JSON.stringify(blogs) %>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>